/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f2f2f2;
  background-image: url(https://static.ocecdn.oraclecloud.com/cdn/cec/v25.5.1.3/documents/static/gemini/images//redwood/dashboard-texture-bkgd.png);
  background-repeat: repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Header Styling */
.app-header {
    background: #312d2a;
    background-image: url(https://static.ocecdn.oraclecloud.com/cdn/cec/v25.5.1.3/documents/static/gemini/images/app-nav-texture-bg.png);
    background-repeat: repeat;
    border-bottom: 1px solid #696867;
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.header-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-logo {
  height: 60px;
  width: auto;
}

.header-title {
  font-family: Oracle Sans;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;  
  align-items: center;
  text-align: center;
}
.main-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  gap: 40px;
  max-width: 1800px;
  width: 100%;
}


/* Form Container */
.container {
  flex: 1;
  max-width: 600px;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background-image: url(https://static.ocecdn.oraclecloud.com/cdn/cec/v25.5.1.3/documents/static/gemini/images/css/color_stripe.png);
  background-position: top;
  background-repeat: no-repeat;
}

/* Branding */
.branding-box {
  text-align: center;
}

.branding-box h1 {
  font-size: 32px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #222;
}

.branding-box h2 {
  font-size: 25px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #222;
}

.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.subtitle {
  color: #666;
  font-size: 16px;
  margin-bottom: 25px;
}

/* Form Inputs */
.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #444;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border 0.3s;
}
input[type="text"]:focus {
  border-color: #7e2cff;
}


input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

/* Buttons */
button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  height: auto;
  width: auto;
  text-transform: none;
  margin-right: 15px;
  font-weight: 600;
  font-family: "Oracle Sans", "Segoe UI", Tahoma, sans-serif;
  background-color: #47034e;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background-color: #5d0565;
  color: #ffffff;
}
/* Preview Container */
.preview-box {
  flex: 1;
  max-width: auto;
  padding: 20px 30px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;
  background-image: url(https://static.ocecdn.oraclecloud.com/cdn/cec/v25.5.1.3/documents/static/gemini/images/css/color_stripe.png);
  background-position: top;
  background-repeat: repeat-x;
}

.preview-box h2 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #333;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #eee;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app-footer{
    background: #312d2a;
    background-image: url(https://static.ocecdn.oraclecloud.com/cdn/cec/v25.5.1.3/documents/static/gemini/images/app-nav-texture-bg.png);
    background-repeat: repeat;
    border-bottom: 1px solid #696867;
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 0%;
}
.footer-title {
  font-family: Oracle Sans;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-align: end;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}